# Visual Studio 编译/缓存/配置文件
.vs/
x64/
build/
output/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.tlog
*.obj
*.pdb
*.idb

# VS Code 配置文件
.vscode/

# 可执行文件/编译产物
*.exe
*.out
*.a
*.so
*.dll

# 日志/临时文件
*.log
*.tmp
*.temp

# 系统文件
Thumbs.db
.DS_Store